* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: grey;
}
.wrapper{
  display:flex;
  flex-direction:column;
  align-items: center;
  max-width: 1440px;
  margin:0 auto;
  background-color: aliceblue;
}
.wrapper-header{
  width: 100%;
  height: fit-content;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.header-info{
  text-align: center;
}
nav>ul li {
  display: inline;
  text-align: center;
  margin-right: 10%;
}
.wrapper-main{
  display:flex;
  height: 500px;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.wrapper-footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}